/*  CSS STYLES FOR "settings copy 3.html" */ 


/* ================= PREMAIN ====================== */

.font-size-settings{
    font-size: 18px;
}




/* ================= PREMAIN END ====================== */


/* ========================= MAIN =================== */

.named-block{
    display: flex;
    width: 60em;
    justify-content: space-between;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    padding-left: 3em;
    padding-right: 3em;
    border-bottom: 1px solid gray;
}







/* ========================= MAIN END =================== */
