/* ====================== PREMAIN ====================== */

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ====================== PREMAIN END ====================== */


/* ========================= SIDE BAR ======================= */


.side-bar{
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-right: 0.5px solid rgb(212, 212, 212);
    height: 200%;
}

.h2{
    font-size: 22px;
}

.main{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.link-settings{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
    padding-right: 0;
    margin-right: 1em;
    border-radius: 5px;
    font-weight: 550;
}

.link-settings.active{
    background-color: rgba(236, 236, 236, 0.521);
}

.link-settings:hover{
    background-color: rgba(236, 236, 236, 0.521);
}

.btn-burger{
    display: inline-block;
    width: min-content;
    cursor: pointer;
    border: none;
    background-color: white;
}

.btn-burger>img{
    width: 2em
}


/* ========================= SIDE BAR END ======================= */


/* ============================= MAIN CONTEINER =================== */


.main-conteiner{
    margin-top: 10px;
    margin-left: 5em;
}


/* ============================= MAIN CONTEINER END =================== */


/* ============================= MEDIA SCREEN ========================= */


@media screen and (min-width: 320px) {
    
}








/* ============================= MEDIA SCREEN END ========================= */
